

<div class="tutorial_container2">
   	 <div class="leftmenu_div">
			<div style="text-align:center; margin:20px 0 "><h1>My Account</h1></div>
			<ul id="blueblock">
				<li><a href="#">Account Setting</a></li>
			</ul>
	</div>
		
	<div class="rightside_div">
		
	<div class="profile_wrap">
	
	<table width="100%" border="0" cellspacing="5" cellpadding="5">
 	 <tr>
   
 	 </tr>
	  <tr>
   
 	 </tr>
 	
 	 <tr>
  	  <td><%= link_to "Change my password",  change_password_path,:class =>"cp" %><br />
   	  <%= link_to "Change my email address", edit_user_path(current_user),:class =>"cp" %></td>
 	 </tr>

</table>

	</div>
	</div>
	
	</div>
    </div>