<div class="tutorial_container2">


    <div class="leftmenu_div">
	<div style="text-align:center; margin:20px 0 "><h1>My Account</h1></div>
	<ul id="blueblock">
	
	<li><%= link_to "Account Settings", users_account_setting_path %> </li>
	
	</ul>
	</div>
	
	
	<div class="rightside_div">
	
	
	</div>
	</div>
    </div>