<div class="tutorial_container" style="padding:20px 10px">
  <div class="righttd" style="margin-bottom:20px"><strong><div class="title"><%= @page.title %></div></strong>
  </div>

  
  <div>
  <%= @page.discription %>

</div>


    </div>

	</div>