/* CSS Document */

body{ margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:url(/assets/bg.jpg) repeat-x #ac0007}

#maindiv{ width:100%; height:auto}
#wrapper{ width:381px; height:auto;}

#logo{ width:100%; height:150px; margin:20px 0 0 0; background:url(/assets/top_shadow.png) no-repeat bottom center}

#loginbox{ width:240px; height:auto; padding:20px; background:url(/assets/black_block.jpg); border:1px solid #000; border-radius:10px; color:#7c7c7c}

.logindiv{ width:100%; height:auto; text-align:left}

h1{ color:#FFFFFF; font-size:20px; font-weight:bold; padding:0; margin:0}

.fb{ margin:10px 0 10px 0}

.logintf{ width:220px; padding:7px; color:#696969; border:1px solid #000; margin:5px 0 0 0}

.labeldiv{ width:100%; height:auto; margin:5px 0 5px 0; color:#FFFFFF}

.b_shadow{ width:381px; height:34px; background:url(/assets/bottom_shadow.png) no-repeat top center}

.membership{ width:100%; height:auto; margin:5px 0}

.divider{ width:100%; height:30px; background:url(/assets/divider.png) no-repeat  center center}

.login_button{background: -moz-linear-gradient(top, #c0c0c0 0%, #7e7e7e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0c0c0), color-stop(100%,#7e7e7e)); /* Chrome,Safari4+ */
 padding:2px 15px 5px 15px; font-size: 18px; font-weight:bold; color:#000000; text-shadow:1px 1px 0px #eaeaea; border:1px solid #000; border-radius:5px; cursor:pointer;
 font-style:italic;
 -moz-box-shadow:inset 0px 1px 0px #fff;
    -webkit-box-shadow:inset 0px 4px 0px #fff;
    box-shadow:inset 0px 1px 0px #fff;

}

.white_txt{ color:#FFFFFF}

.footer_wrap{ width:100%; height:auto; padding:15px 0 15px 0; color:#616161; border-top:1px solid #000; background:#e6e6e6}

.footer{ width:1000px; height:auto; text-align:right}

.course_preview_bg{ width:100%; height:auto; background:url(/assets/black_block.jpg)}

.course_preview_heading{ width:100%; height:auto;background: #c0c0c0; /* Old browsers */
background: -moz-linear-gradient(top, #c0c0c0 0%, #7d7d7d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0c0c0), color-stop(100%,#7d7d7d)); /* Chrome,Safari4+ */ padding:7px 0; font-size:25px; color:#222222; text-shadow:1px 1px 0 #dddddd; 
-moz-box-shadow:inset 0px 1px 0px #fff;
-webkit-box-shadow:inset 0px 1px 0px #fff;
box-shadow:inset 0px 1px 0px #fff; border-bottom:1px solid #000; border-top:1px solid #000

}


.course_preview_wrap{ width:1000px; height:auto; text-align:left; padding:0 0 10px 0}




.discover-courses-list {
    margin-top: 5px;
    text-align: left;
}
.discover-courses-list li {
    display: inline-block;
    margin: 10px 10px 0;
    position: relative;
    text-align: left;
    width: 227px;
    z-index: 0;
}
.discover-courses-list li .mask {
    background-color: rgb(255, 255, 255);
    border: 2px solid #b6b6b6;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: rgb(0, 0, 0);
    display: block;
    height: 305px;
    overflow: hidden;
    position: relative;
}
.discover-courses-list li .mask .course-thumb {
    border-radius: 0;
    display: block;
    height: 115px;
    position: relative;
    width: 224px;
}
.discover-courses-list li .mask .course-thumb > span {
    -moz-transition: opacity 0.3s ease 0s;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.discover-courses-list li .mask .course-thumb > span > span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 0;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: bold;
    left: 50%;
    margin: -15px 0 0 -60px;
    padding: 5px 10px;
    position: absolute;
    top: 50%;
}
.discover-courses-list li .mask .main-info {
    background-color: rgb(255, 255, 255);
}
.discover-courses-list li .mask .main-info h3 {
    -moz-box-sizing: content-box;
    background: -moz-linear-gradient(top, #b71218 0%, #b01117 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b71218), color-stop(100%,#b01117)); background:#b71218;
    border-top: 1px solid #e51c24; border-bottom: 1px solid #500003;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 16px;
    max-height: 45px;
    overflow: hidden;
    padding: 8px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.discover-courses-list li .mask .main-info h4 {
    background: #dfdfdf;
    color: rgb(153, 153, 153);
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
    height: 52px;
    padding: 8px 7px;
}
.discover-courses-list li .mask .main-info h4 .thumb {
    background-size: contain;
    border: 2px solid #fff;
    float: left;
    height: 50px;
    margin-right: 5px;
    text-indent: -999em;
    width: 50px;
}
.discover-courses-list li .mask .main-info h4 .title {
    color: rgb(85, 85, 85);
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
}
.discover-courses-list li .mask .main-info h4 .job-title {
    color: rgb(119, 119, 119);
    font-family: "Georgia";
    font-size: 12px;
    font-style: italic;
}
.discover-courses-list li .mask .course-info {
    -moz-box-sizing: content-box;
    color: rgb(102, 102, 102);
    display: block;
   
    overflow: hidden;
    padding: 2px 7px;
}
.discover-courses-list li .mask .bottom {
    background: -moz-linear-gradient(rgb(252, 252, 251), rgb(245, 244, 242)) repeat scroll 0 0 transparent;
    border-radius: 0 0 2px 2px;
    border-top: 1px solid rgb(226, 225, 225);
    bottom: 0;
    line-height: 30px;
    position: absolute;
    width: 304px;
}
.discover-courses-list li .mask .bottom .subscribers {
    border-right: 1px solid rgb(226, 225, 225);
    color: rgb(119, 119, 119);
    float: left;
    font-size: 12px;
    text-align: center;
    width: 109px;
}
.discover-courses-list li .mask .bottom .subscribers b {
    color: rgb(189, 79, 24);
}
.discover-courses-list li .mask .bottom .rating {
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(226, 225, 225);
    color: rgb(119, 119, 119);
    float: left;
    font-size: 12px;
    width: 120px;
}
.discover-courses-list li .mask .bottom .rating .review-count {
    float: left;
}
.discover-courses-list li .mask .bottom .price {
    color: rgb(107, 158, 62);
    float: left;
    text-align: center;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
    width: 75px;
}
.discover-courses-list li .mask:hover {
    box-shadow: 0 2px 10px #000; text-decoration:none
}
.discover-courses-list li .mask:hover .main-info h3 {
    background: -moz-linear-gradient(top, #bbbbbb 0%, #a0a0a0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbbbbb), color-stop(100%,#a0a0a0));
    border-top: 1px solid #fff; border-bottom: 1px solid #5b5b5b;
}
.discover-courses-list li .mask:hover .course-thumb > span {
    opacity: 1;
}
.discover-courses-list li .more {
    background: -moz-linear-gradient(rgb(212, 216, 220), rgb(235, 239, 243)) repeat scroll 0 0 transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
    bottom: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: rgb(85, 85, 85);
    display: block;
    height: 35px;
    line-height: 36px;
    margin: 0 auto 15px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
    width: 270px;
    z-index: -1;
}
.discover-courses-list li .more a {
    color: rgb(85, 137, 182);
    font-weight: bold;
}
.discover-courses-list li .more a:hover {
    color: rgb(53, 86, 114);
}
.discover-courses-list li .more.cotw {
    background: -moz-linear-gradient(rgb(229, 227, 216), rgb(248, 246, 234)) repeat scroll 0 0 transparent;
    color: rgb(189, 79, 24);
    font-weight: bold;
    text-transform: uppercase;
}
.discover-courses-list li .more.category, .discover-courses-list li .more.popular, .discover-courses-list li .more.search {
    border: medium none;
    display: inline-block;
    height: 0;
    margin-bottom: 0;
}